body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 2rem;
}

.navbar-nav .nav-link{
    font-size: 1.2rem;
}

.navbar-nav .nav-item.active .nav-link{
    font-weight: bold;
}

.container {
    max-width: 1200px;
}

.main-content {
    padding: 80px 0;
    background-color: #ffffff;
}

.main-content .container {
    padding: 40px 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.footer {
    padding: 20px 0;
    background-color: #343a40;
}

.footer-background {
    color: #0056b3;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar-nav .nav-link {
        padding: 0.5rem 0.5rem;
    }

    .main-content {
        padding: 60px 0;
    }
}

.form-group {
    margin-bottom: 20px;
}

.label-holder {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.label-holder label {
    font-size: 1.2rem;
    color: #343a40;
}

.form-control {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 6px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    outline: 0;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.button-holder {
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .label-holder label {
        font-size: 1rem;
    }

    .form-control {
        padding: 10px;
        font-size: 0.875rem;
    }

    .button-holder {
        margin-top: 15px;
    }
}